*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #333;
    text-align: center;
    background-color: #e9e1b6;
}

button,
input,
textarea,
select {
    font: inherit;
}

.page-ribbon {
    background-color: rgb(180, 147, 82);
    color: #ffffff;
    padding: 15px;
    margin: 0px;
    width: 100%;
}

.button {
    display: block;
    text-decoration: none;
    font-size: medium;
    padding: 5px;
    color: #ffffff;
    background-color: #757575;
    margin: 2px auto;
    width: 300px;
    border: 3px #000000;
    cursor: pointer;
}

.button:hover {
    background-color: #333;
    font-size: large;
}