*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #e9e1b6;
    text-align: center;
    width: 70%;
    margin: auto;
}

button,
input,
textarea,
select {
    font: inherit;
}

.page-ribbon {
    text-align: center;
    background-color: rgb(180, 147, 82);
    color: #ffffff;
    padding: 15px;
    margin: 0px;
    width: 100%;
}

.button {
    display: block;
    text-decoration: none;
    font-size: medium;
    padding: 5px;
    color: #ffffff;
    background-color: #757575;
    margin: 2px auto;
    width: 60%;
    border: 3px #000000;
    cursor: pointer;
}

.button:hover {
    background-color: #333;
    font-size: large;
}

h2 {
    background-color: #b49352;
    text-align: center;
}

img {
    display: block;
    margin: 2px auto;
    max-width: 100%;
    height: auto;
}

.center-list {
    text-align: center;
}

.mid-box {
    text-align: left;
    display: inline-block;
}
