*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #333;
    text-align: center;
    background-color: #ffffff;
}

button,
input,
textarea,
select {
    font: inherit;
}

.page-ribbon {
    background-color: purple;
    color: #ffffff;
    padding: 15px;
    margin: 0px;
    width: 100%;
}

.recipe {
    padding: 5px;
    color: #ffffff;
    background-color: #757575;
    margin: 2px auto;
    width: 300px;
    border: 3px #000000;
}